<div class="contact-area">
  <div class="contact-header">
    <div class="inner-contents">
      <p>Jessica C. Young</p>
      <p>Cuppertino</p>
      <p>California, 95014</p>
      <p>United States</p>
    </div>
  </div>
  <div class="contact-width-fix">
    <form ng-submit="sendOn()" class="contact-body" name="contactForm">
      <div class="contact-left">
        <div class="inner-contents">
          <p>Your Name:</p>
          <input type="text" name="name" ng-model="submitForms.name" minlength=6 placeholder="Name" required><br>
          <p>Your E-mail:</p>
          <input type="email" name="mail" ng-model="submitForms.mail" placeholder="Email" required><br>
        </div>
      </div>
      <div class="contact-right">
        <div class="inner-contents">
          <p>Your Message:</p>
          <textarea name="comment" cols='50' rows='10' ng-model="submitForms.comment" minlength=20 required></textarea><br><br>
          <input type="submit" value="Send" ng-disabled="contactForm.$error.pattern">
          <input type="reset" value="Reset">
        </div>
      </div>
    </form>
  </div>
</div>